:root {
  --purple-light: #A881E6;
  --purple: #7450AC;
  --dark-purple: #523480;
  /*-----------------------*/
  --gray-100: #FBF9FE;
  --gray-200: #AFABB6;
  /*-----------------------*/
  --gray-300: #252529;
  --gray-400: #17171A;
  --gray-500: #111112;
  --gray-600: #0C0C0D;
  /*-----------------------*/
  --success-light: #FFFFFF;
  --success: #FFFFFF;
  /*-----------------------*/
  --pink: #DB5BBF;
  --orange: #E07B67;
  --yellow: #BB9F3A;
  --green: #8CAD51;
  --blue: #7B94CB;
  --pink-dark: #251622;
  --orange-dark: #261A17;
  --yellow-dark: #211E12;
  --green_dark: #1C2015;
  --blue-dark: #1A1D23;
}




body {
  background: var(--gray-600);
  color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;

}

.adicionar {
  display: flex;
  width: 720px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
}


.inputItens {
  padding: 12px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  border: var(--gray300);
  background: var(--gray-500);
  color: var(--gray-200);
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;



}

.inputQuantidade {
  width: 72px;
  color: var(--gray-100);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.42px;
  background-color: var(--gray-500);
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border: 1px solid var(--gray-300);
  border-radius: 6px 0px 0px 6px;
}

.selectUnidade {
  display: flex;
  width: 72px;
  padding: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 0px 6px 6px 0px;
  border: 1px solid var(--gray-300);
  background: var(--gray-500);
  color: var(--gray-300);
}

.quantidade {
  display: flex;
  width: 150px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 12px;


}

.q1 {
  display: flex;
}

.selectCategoria {
  display: flex;
  background-color: var(--gray-500);
  color: var(--gray-200);
  padding: 12px;
  align-items: center;
  letter-spacing: 0.42px;
  border-radius: 6px;
  gap: 8px;
  align-self: stretch;
  border: 1px solid var(--gray-300);
  background: var(--gray-400);

}

.categoria {
  display: flex;
  width: 168px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 30px;
}

.add {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 999px;
  background: var(--purple);
  border: none;
  cursor: pointer;
}

.itemsSubmited {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  background: var(--gray-400);
  margin-top: 50px;

}

li {
  list-style-type: none;
}

.CheckboxRoot {
  background-color: var(--gray-300);
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border: 2px solid var(--purple-light);

}

.CheckboxRoot input[type="checkbox"]:checked::after {
  background-color: var(--green_dark);
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border: 2px solid var(--green);

}

.check {
  color: var(--green);
}




.CheckboxIndicator {
  color: var(--violet-11);

}

.Label {
  color: white;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}

.itemsSubmited2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-200);
  padding: 16px;


}

.siItems {
  color: var(--base-gray-100, #FBF9FE);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  width: 194px;
  margin-left: 16px;
  flex-direction: column;
}



.siQuantidade {
  color: var(--base-gray-200, #AFABB6);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  flex-direction: column;
  display: flex;
}


.siUnidade {
  color: var(--base-gray-200, #AFABB6);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  flex-direction: column;
}

.siCategoria {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 999px;
  margin-left: 250px;
}

.markedItems {
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  background: var(--gray-400);
  margin-top: 50px;
  padding: 12px;

}

.marked1 {
  display: flex;
  color: var(--base-gray-100, #FBF9FE);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  width: 194px;
  margin-left: 16px;
  flex-direction: column;

}

.marked2 {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 999px;
  margin-left: 250px;
}

.CheckboxRoot2 {
  background-color: var(--gray-300);
  width: 25px;
  height: 25px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: none;
  border: 2px solid var(--purple-light);

}

.marked {
  display: flex;
}

.marked3 {
  color: var(--base-gray-100);
}

.line {
  margin-top: 15px;
}

.frutas {
  border-radius: 999px;
  background: var(--apoio-orange-dark, #261A17);
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
}