:root {
  --purple-light: #A881E6;
  --purple: #7450AC;
  --dark-purple: #523480;
  /*-----------------------*/
  --gray-100: #FBF9FE;
  --gray-200: #AFABB6;
  /*-----------------------*/
  --gray-300: #252529;
  --gray-400: #17171A;
  --gray-500: #111112;
  --gray-600: #0C0C0D;
  /*-----------------------*/
  --success-light: #FFFFFF;
  --success: #FFFFFF;
  /*-----------------------*/
  --pink: #DB5BBF;
  --orange: #E07B67;
  --yellow: #BB9F3A;
  --green: #8CAD51;
  --blue: #7B94CB;
  --pink-dark: #251622;
  --orange-dark: #261A17;
  --yellow-dark: #211E12;
  --green_dark: #1C2015;
  --blue-dark: #1A1D23;
}




body {
  background: var(--gray-600);
  color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;

}

.adicionar {
  display: flex;
  width: 720px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
}


.inputItens {
  padding: 12px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  border: var(--gray300);
  background: var(--gray-500);
  color: var(--gray-200);
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;


}

.inputQuantidade {
  width: 72px;
  color: var(--gray-100);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.42px;
  background-color: var(--gray-500);
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border: 1px solid var(--gray-300);
  border-radius: 6px 0px 0px 6px;
}

.selectUnidade {
  display: flex;
  width: 72px;
  padding: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 0px 6px 6px 0px;
  border: 1px solid var(--gray-300);
  background: var(--gray-500);
  color: var(--gray-300);
}

.quantidade {
  display: flex;
  width: 150px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 12px;


}

.q1 {
  display: flex;
}

.selectCategoria {
  display: flex;
  background-color: var(--gray-500);
  color: var(--gray-200);
  padding: 12px;
  align-items: center;
  letter-spacing: 0.42px;
  border-radius: 6px;
  gap: 8px;
  align-self: stretch;
  border: 1px solid var(--gray-300);
  background: var(--gray-400);

}

.categoria {
  display: flex;
  width: 168px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 30px;
}

.add {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 999px;
  background: var(--purple);
  border: none;
  cursor: pointer;
}

.itemsSubmited {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  background: var(--gray-400);
  margin-top: 50px;

}

li {
  list-style-type: none;
}

.checkBox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  font-size: 22px;
}

.checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkBox:hover input~.Checkmark {
  background-color: var(--gray-100);
}

.checkBox input:checked~.Checkmark {
  background-color: var(--purple-light);
}

.checkBox .Checkmark:after {
  display: flex;
  background-color: var(--green);
  content: "";
  display: none;
  position: absolute;
  border: solid white;
  height: 10px;
  width: 5px;
  top: 5px;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.itemsSubmited2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-200);
  padding: 16px;


}